body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav ul {
	position: absolute;
	right: 0;
	top: 110px;

}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}


.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	/*	border-color: #000000;
	border-width: 2px;
	border-style: solid;*/
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 32px;
}

.produtos h2 {
	font-size: 28px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


footer {
	background: url("../imagens/bg.jpg");
	text-align: center;
	padding: 40px 0;
}

.copyright {
	font-size: 13px;
	color: #FFFFFF;
	margin-top: 20px;
}

.main-produtos,
.main-contato {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px 0;
}

form label,
form legend {
	display: block;
	margin: 0px 0 10px;
	font-size: 20px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.submit {
	width: 40%;
	padding: 15px 0;
	font-size: 18px;
	font-weight: bold;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 0.7s all;
	cursor: pointer;
}

.submit:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0 40px;
}

thead {
	background: #666666;
	color: #FFFFFF;
}

td,
th {
	border: 1px solid #000000;
	padding: 8px 15px;
}



/*CSS da página inicial*/

.main-principal {
	background: #FEFEFE;
}

.principal {
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;
}

.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin-bottom: 1em;
	clear: left;
}

.principal p {
	line-height: 1.5em;
	margin-bottom: 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

#img-utensilios {
	width: 130px;
	float: left;
	margin: 0 20px 0px 0;
}

.localizacao {
	text-align: center;
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.localizacao p {
	margin-bottom: 2em;
}

.mapa {
	width: 940px;
	margin: 0 auto;
}

.mapa iframe {
	box-shadow: 5px 5px 20px #000000;
}

.beneficios {
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5em;
}

.itens:before {
	content: "★";
}

.itens:first-child {
	font-weight: bold;
}

.img-beneficios {
	width: 60%;
	border-radius: 5px;
	opacity: 1;
	box-shadow: 5px 5px 20px 0 #000000;
}

.img-beneficios:hover {
	opacity: 0.3;
}

.video {
	width: 560px;
	margin: 1em auto;
}

@media screen and (max-width: 939px) {

	.caixa,
	.principal,
	.conteudo-beneficios,
	.mapa,
	.video {
		width: auto;
		padding-right: 2%;
		padding-left: 2%;
	}

	h1 {
		text-align: center;
	}

	nav ul {
		position: static;
	}

	nav a {
		font-size: 20px;
	}

	.lista-beneficios,
	.img-beneficios {
		width: 100%;
	}
}